# project files & folders
build
build.*
!build.bat
!build.py
include/project.4coder
include/build.sh
include/quick.c

# other
.DS_Store
.swp
tags

.vscode
.vs

docs/export
docs/_build
docs/_static
docs/_templates