name: tester
on:
  push:
    branches:
      - master
      - review/**
    #paths:
      #- 'code/**'
    tags-ignore:
      - '[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches:
      - master
    paths:
      - 'code/**'

jobs:
  prep:
    name: Notify about testing
    runs-on: ubuntu-latest
    steps:
      - uses: sarisia/actions-status-discord@v1
        if: always()
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          description: "**ZPL** has started the fire trial! (Running tests...)"
          nodetail: true
          nofail: true
          color: "0xFFA500"
          username: "Michael Scott"
          avatar_url: "http://raw.madaraszd.net/office/test.jpg"
  build-win:
    name: Test Windows
    runs-on: windows-latest
    needs: [prep]
    steps:
      - uses: actions/checkout@v1
      - name: Run cmake generator
        run: mkdir build ; cd build ; cmake ../misc
      - name: Run Windows build
        run: cd build ; cmake --build .
      - name: Run unit tests
        run: cd build ; .\Debug\tester.exe

  build-lin:
    name: Test Linux
    runs-on: ubuntu-latest
    needs: [prep]
    steps:
      - uses: actions/checkout@v1
      - name: Run build on Linux
        run: make

  build-mac:
    name: Test macOS
    runs-on: macOS-latest
    needs: [prep]
    steps:
      - uses: actions/checkout@v1
      - name: Run build on macOS
        run: make

  done:
    name: Notify about status
    runs-on: ubuntu-latest
    needs: [build-mac, build-lin, build-win]
    if: always()
    steps:
      - uses: sarisia/actions-status-discord@v1
        if: ${{ contains(needs.build-mac.result == needs.build-lin.result == needs.build-win.result, 'success') }}
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          description: "**ZPL** tests have succeeded!"
          nodetail: true
          nofail: true
          color: "0x55df2a"
      - uses: sarisia/actions-status-discord@v1
        if: ${{ !contains(needs.build-mac.result == needs.build-lin.result == needs.build-win.result, 'success') }}
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          description: "**ZPL** tests have failed!"
          nodetail: true
          nofail: true
          color: "0xdf332a"
          username: "Devastated Michael Scott"
          avatar_url: "http://raw.madaraszd.net/office/fail.jpg"